@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: red;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    /* -webkit-background-clip: text; */
    transform: translateX(-0.02em);
  }
  /* Sleek and minimalistic scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Adjust width for minimalistic look */
  height: 8px; /* Adjust height for minimalistic look (for horizontal scrollbar) */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Customize this color for a sleek look */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Customize track color */
}


